.card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 20px 10px;
    box-shadow: 3px 3px 10px gray;
    background-color: #fff;
}

/*-----card header-----*/
.card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 10px;
}

    .card-header a {
        text-decoration: none;
    }

/*------card body------*/
.card-body {
    display: flex;
    padding: 5px;
}

.card-body__col {
    flex-direction: column;
}

/*------icon bar and thumbs------*/
.icon-bar {
    display: flex;
    justify-content: space-evenly;
}

.card-thumb {
    position: relative;
    float: left;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-thumb__small {
    max-width: 50px;
    text-align: center;
    overflow: visible;
}

.card-thumb__medium {
    max-width: 100px;
}

.card-thumb__large {
    width: 100%;
}

    /*.card-thumb__small img, .card-thumb__medium img, .card-thumb__large img {
        width: 90%;
        object-fit: cover;
    }*/

.card-thumb__grayscale {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/*-----card content------*/
.card-content {
    padding: 10px 20px;
}

    .card-content li {
        margin-left: 20px;
    }

/*-----------------------
Phones
-----------------------*/
@media screen and (max-width: 499px) {
    .card-thumb__large {
        display: none;
    }
}