/*-----------------
Common Attributes
-------------------*/
.container-home {
    display: flex;
    justify-content: center;    
    opacity: 0.3;
    font-weight: 500;
}

.container-home span {
    font-weight: 600;
}

.jumbotron {
    text-align: center;
}

/*------------------
Laptop
-------------------*/
@media screen and (min-width: 900px) {
    .container-home {
        flex: 1;
        padding: 20px;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .jumbotron {
        max-width: 650px;
        max-height: 5rem;
        padding: 10px;
        margin: 0;
    }
}

/*------------------
Phones & Tablet
-------------------*/
@media screen and (max-width: 899px) {
    .container-home {
        text-align: center;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}