/*-----------------
Common Attributes
-------------------*/
.container-home {
    display: flex;  
    height: 100vh;
    background-color: rgba(0,0,0,0.15);
    font-weight: 500;
}

.home-content p {
    transform: scale(1.0, 0.8);
}

.container-home span {
    font-weight: 600;
}

/*------------------
Laptop
-------------------*/
@media screen and (min-width: 900px) {
    .container-home {
        flex: 1;
        padding: 20px;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
}

/*------------------
Phones & Tablet
-------------------*/
@media screen and (max-width: 899px) {
    .container-home {
        text-align: center;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        line-height: 1.3rem;
    }
}