/*-----------------------
Common Attributes
-----------------------*/
.container-full {
    display: flex;
    flex-wrap: wrap;
    background: url(../images/backgrounds/mountains/mountains2.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.container-nav {
    display: flex;
    align-items: center;
    padding: 5px;
}

.container-main {
    display: flex;
    flex: 1;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 232, 232);
}

.content-header {
    text-shadow: 2px 2px 2px lightgray;
}

.content-intro {
    margin: 10px 0px;
}

    .content-intro span {
        font-weight: 800;
    }

.content-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 20px 10px;
    box-shadow: 3px 3px 10px gray;
    background-color: #fff;
}

    .card-header {
        width: 100%;
        margin: 0px;
        padding: 10px;
    }

    .card-icons {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        text-align: center;
    }

        .card-icons img {
            max-width: 50px;
        }

    .card-details {
        padding: 10px;
    }

/*-----------------------
Laptop
-----------------------*/
@media screen and (min-width: 900px) {
    .container-nav {
        flex-direction: column;
        width: 20%;
    }

    .container-main {
        min-height: 100%;
    }

    .main-content {
        min-height: 100%;
        max-width: 900px;
        padding: 30px;
    }
}

/*-----------------------
Phones & Tablets
-----------------------*/
@media screen and (max-width: 899px) {
    .container-full {
        flex-direction: column;
    }
    
    .container-nav {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }

    .container-main {
        width: 100%;
    }

    .main-content {
        width: 100%;
        padding: 10px;
    }
}
