/*-----------------------
Common Attributes
-----------------------*/
.container-bg {
    display: flex;
    flex-wrap: wrap;
    background: url(../images/backgrounds/mountains/mountains2.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.container-nav {
    display: flex;
    align-items: center;
    padding: 5px;
}

.container-full {
    display: flex;
    flex: 1;
}

.container-main {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 232, 232);
}

    .container-main h1 {
        text-shadow: 2px 2px 2px lightgray;
    }

    .container-main p {
        margin: 0.7em 0px;
    }

    .container-main span {
        font-weight: 800;
    }        

/*-----------------------
Laptop
-----------------------*/
@media screen and (min-width: 900px) {
    .container-nav {
        flex-direction: column;
        width: 20%;
    }

    .container-full {
        min-height: 100%;
    }

    .container-main {
        min-height: 100%;
        max-width: 900px;
        padding: 30px;
    }
}

/*-----------------------
Phones & Tablets
-----------------------*/
@media screen and (max-width: 899px) {
    .container-bg {
        flex-direction: column;
    }
    
    .container-nav {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }

    .container-full {
        width: 100%;
    }

    .container-main {
        width: 100%;
        padding: 10px;
    }
}
