/*-----------------------
Common Attributes
-----------------------*/
.container-full {
    display: flex;
    flex-wrap: wrap;
    background: url(../images/backgrounds/mountains/mountains2.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
}

.container-nav {
    display: flex;
    align-items: center;
    padding: 5px;
}

.container-main {
    display: flex;
    flex: 1;
    background-color: rgb(245, 231, 231);
}

.container-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    }

/*-----------------------
Laptop
-----------------------*/
@media screen and (min-width: 900px) {
    .container-nav {
        flex-direction: column;
        width: 250px;
    }

    .container-main {
        min-height: 100%;
    }

    .container-content {
        min-height: 100%;
        max-width: 900px;
        padding: 30px;
    }
}

/*-----------------------
Phones/tablets
-----------------------*/
@media screen and (max-width: 899px) {
    .container-full {
        flex-direction: column;
    }
    
    .container-nav {
        justify-content: space-between;
        height: 120px;
    }

    .container-main {
        width: 100%;
    }

    .container-content {
        width: 100%;
        padding: 10px;
    }
}
