/*-----------------
Common Attributes
-------------------*/
/*------Profile Secion------*/
.nav-pic img {
    align-self: center;
    width: 100%;
    border-radius: 20%;
}

.nav-credits {
    display: flex;
    flex-direction: column;
}

.nav-credits p {
    font-size: 0.8rem;
}

.nav-credits p span {
    font-size: 1.0rem;
    font-weight: 600;
}

/*------Menu Secion------*/
.nav-menu {
    display: flex;
    flex-direction: column;
}

input#menu {
    display: none;
}

.menu-content {
    list-style: none;
    font-size: 0.9rem;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
}

.menu-link a {
    cursor: pointer;
}

/*------------------
Laptop
-------------------*/
@media screen and (min-width: 900px) {
/*------Profile Secion------*/
    .nav-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .nav-pic {
        width: 60%;
        margin-top: 30px;
    }

/*------Menu Secion------*/
    .nav-menu {
        margin-top: 60px;
        margin-left: 30px;
        width: 100%;
    }

    .menu-collapse label {
        display: none;
    }
}

/*------------------    
Phones/tablets
-------------------*/
@media screen and (max-width: 899px) {
/*------Profile Secion------*/
    .nav-profile {
        display: flex;
        align-items: center;
    }
    
    .nav-pic {
        width: 80px;
        margin: 10px;
    }

/*------Menu Secion------*/
    .menu-collapse label {
        cursor: pointer;
    }

    .menu-content {
        list-style: none;
        max-height: 0;
        overflow: hidden;
    }

    input:checked ~ .menu-content {
        max-height: 100%;
    }
}