.nav-pic {
    width: 60%;
    height: auto;
    border-radius: 20%;
    margin: 5%
}

.nav-links {
    width: 100%;
    list-style: none;
    margin-top: 60px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 3px 10px;
}
