.skills-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.skills-section-type {
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
}

.skills-icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
}

.skills-icons img {
    max-width: 50px;
}

.skills-details {
    padding-left: 30px;
}