.skills-section {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.skills-section-type {
    width: 100%;
    margin: 5px 0px;
    padding: 10px;
}

.skills-icons {
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.skills-icons img {
    max-width: 50px;
    width: auto;
    margin: 5px;
}

.skill-icons p {
     text-align: center;
}

.skills-details {
    flex: 1;
    padding-left: 30px;
}